.queryForm {
	font-size: 14px;
}

.queryCondition {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e0e0e0;
	overflow: hidden;
}
/* 第一行查询条件，无分界线 */
.queryCondition-first {
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
/* 只有一个查询条件的情况 */
.queryCondition-single {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}

.queryCondition-title {
	float: left;
	width: 80px;
	height: 30px;
	line-height: 30px;
}

.queryCondition-content {
	float: left;
	width: calc(100% - 80px);
}

.queryCondition-validation {
	float: left;
	padding-top: 4px;
	display: none;
	color: red;
}
/* 操作按钮与查询条件同处一行的情况 */
.queryCondition-operation {
	float: left;
	width: 160px;
}

	.queryCondition-operation button {
		height: 30px;
		width: 70px;
		margin-right: 2px;
		font-size: 14px;
		border: 1px solid #45A6FA;
		color: #fff;
		background-color: #45A6FA;
	}
/* 操作按钮独占一行的情况 */
.queryOperation {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e0e0e0;
	overflow: hidden;
}

	.queryOperation button {
		height: 30px;
		margin-left: 2px;
		position: relative;
		font-size: 14px;
		border: 1px solid #45A6FA;
		color: #fff;
		background-color: #45A6FA;
		padding:0 20px;
	}

		.queryOperation button:hover {
			border: 1px solid #e0e0e0;
			background-color: #fff;
			color: #323333;
		}

select {
	width: 194px;
	border: 1px solid #e0e0e0;
	padding: 0px 35px 0px 5px;
	height: 24px;
	font-size: 12px;
}

.tagList {
	width:calc(100% - 80px);
	word-wrap: break-word;
	word-break: break-all;
	display: inline-block;
}

.tagSelectAllWrapper {
	height: 30px;
	line-height: 30px;
	margin-right: 15px;
	float: left;
}

.tagSelectAll {
	vertical-align: middle;
}

.tagSelectAllText {
	cursor: pointer;
}

.body-bg .bg-white .queryForm .tagWrapper {
	margin: 2px 0px !important;
	padding: 4px 8px;
	display: inline-block;
	height: 30px;
	line-height: 20px;
}

	.body-bg .bg-white .queryForm .tagWrapper.active {
		background-color: #45A6FA;
		color: #fff;
	}

.tagCancel {
	background: rgba(0, 0, 0, 0) url('images/tag_cancel.png') no-repeat scroll 0 0;
	display: inline-block;
	height: 10px;
	width: 10px;
}

.reportHeader-title {
	font: 22px '微软雅黑';
	color: #323333;
	text-align: center;
	margin-top: 40px;
}

.reportHeader-subTitle {
	font: 14px '微软雅黑';
	color: #7d7e80;
	text-align: center;
	margin-top: 26px;
}

.reportHeader-generateDate {
	float: left;
}

.reportHeader-statisticDate {
	width: 500px; /*设置宽度使水平居中生效*/
	margin: 0 auto;
}

.reportHeader-unit {
	float: right;
}

.grid {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px !important;
}

	.grid tr.dark {
		background: #f5f5f5;
	}

	.grid th {
		background-color: #f5f5f5;
		font-size: 14px;
		color: #323333;
		font-weight: normal;
		border-bottom: 1px solid #e0e0e0;
		padding: 0px 10px;
		line-height: 46px;
	}

	.grid th {
		text-align: center;
	}

	.grid td {
		padding: 10px 10px;
		line-height: 26px;
	}

		.grid td.left {
			text-align: left;
		}

		.grid td.right {
			text-align: right;
		}

		.grid td.center {
			text-align: center;
		}

.emptyResult {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px !important;
}

/*Y_SelArea*/
#Y_SelArea{}
#Y_SelArea .y_dl1{}
#Y_SelArea .y_dl1 dt,#Y_SelArea .y_dl2 dt{width:80px;padding-top:4px;}
#Y_SelArea .y_dl1 dd,#Y_SelArea .y_dl2 dd{width:calc(100% - 80px);margin-left:80px;}
#Y_SelArea .y_dl1 dd a,#Y_SelArea .y_dl2 dd a{float:left;padding:4px 18px 4px 8px;margin-right:4px;margin-bottom:4px !important;text-decoration:none;color:#333;position:relative;border:1px solid #fff;}
#Y_SelArea .y_dl1 dd a .del,#Y_SelArea .y_dl2 dd a .del{width:10px;height:10px;background:url('images/tag_cancel.png') no-repeat;position:absolute;right:2px;top:8px;}
#Y_SelArea .y_dl1 dd a.ySel,#Y_SelArea .y_dl2 dd a.ySel{background:#45A6FA;color:#fff;}
#Y_SelArea .y_dl1 dd a.ySel2{background:#8fc2fd;color:#fff;}
#Y_SelArea .y_dl1 dd a.ySel3{border-color:#fff;/* color:#2087fc; */}
#Y_SelArea .y_dl1 dd a.on:after{content:"";width:0;height:0;border-width:6px;border-color:transparent transparent #fff transparent;border-style:solid;position:absolute;left:calc(50% - 6px);bottom:0px;}
#Y_SelArea .y_dl1 dd a.on.ySel3:after{border-color:transparent transparent #2087fc transparent;}
#Y_SelArea .y_dl2{border:1px solid rgb(203, 203, 203);background:rgb(246, 245, 246);padding:10px;}


